# Data preprocessing: NYC Crashes

In this project, a dataset with information about car crashes in New York is cleaned and preprocessed for Machine Learning. 

Let us begin with importing Pandas.

In [44]:
import pandas as pd
import numpy as np

Import the (test) data as a Pandas dataframe and take a first look.

In [45]:
df = pd.read_csv('data_1000.csv')
df.head()

,crash_date,crash_time,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,...,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2017-04-18T00:00:00.000,23:10,STATEN ISLAND,10312.0,40.536728,-74.193344,"(40.536728, -74.193344)",NaN,NaN,243 DARLINGTON AVENUE,...,Unspecified,NaN,NaN,NaN,3654181,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,2017-05-06T00:00:00.000,13:00,BRONX,10472.0,40.829052,-73.850380,"(40.829052, -73.85038)",CASTLE HILL AVENUE,BLACKROCK AVENUE,NaN,...,NaN,NaN,NaN,NaN,3665311,Sedan,NaN,NaN,NaN,NaN
2,2017-04-27T00:00:00.000,17:15,QUEENS,11420.0,40.677303,-73.804565,"(40.677303, -73.804565)",135 STREET,FOCH BOULEVARD,NaN,...,Unspecified,NaN,NaN,NaN,3658491,Sedan,Sedan,NaN,NaN,NaN
3,2017-05-09T00:00:00.000,20:10,NaN,NaN,40.624958,-74.145775,"(40.624958, -74.145775)",FOREST AVENUE,RICHMOND AVENUE,NaN,...,Unspecified,Unspecified,NaN,NaN,3666554,Motorcycle,Sedan,Bus,NaN,NaN
4,2017-04-18T00:00:00.000,14:00,BRONX,10456.0,40.828846,-73.903120,"(40.828846, -73.90312)",NaN,NaN,1167 BOSTON ROAD,...,Unspecified,NaN,NaN,NaN,3653269,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 29 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   crash_date                     1000 non-null   object
 1   crash_time                     1000 non-null   object
 2   borough                        603 non-null    object
 3   zip_code                       603 non-null    float64
 4   latitude                       901 non-null    float64
 5   longitude                      901 non-null    float64
 6   location                       901 non-null    object
 7   on_street_name                 763 non-null    object
 8   off_street_name                474 non-null    object
 9   cross_street_name              236 non-null    object
 10  number_of_persons_injured      1000 non-null   int64
 11  number_of_persons_killed       1000 non-null   int64
 12  number_of_pedestrians_injured  1000 non-null   int64
 13  number_of_pedestrians_killed   1000 non-null   int64
 14  number_of_cyclist_injured      1000 non-null   int64
 15  number_of_cyclist_killed       1000 non-null   int64
 16  number_of_motorist_injured     1000 non-null   int64
 17  number_of_motorist_killed      1000 non-null   int64
 18  contributing_factor_vehicle_1  998 non-null    object
 19  contributing_factor_vehicle_2  844 non-null    object
 20  contributing_factor_vehicle_3  53 non-null     object
 21  contributing_factor_vehicle_4  14 non-null     object
 22  contributing_factor_vehicle_5  3 non-null      object
 23  collision_id                   1000 non-null   int64
 24  vehicle_type_code1             995 non-null    object
 25  vehicle_type_code2             786 non-null    object
 26  vehicle_type_code_3            49 non-null     object
 27  vehicle_type_code_4            14 non-null     object
 28  vehicle_type_code_5            3 non-null      object
dtypes: float64(3), int64(9), object(17)
memory usage: 226.7+ KB

There are a lot of null values and it is tempting to remove them. But in order to get a better understanding for which data is important, redundant, double, I will first clean it up a bit. We candon't want to throw away data if it's not necessary.

## Data types
Let us begin checking that every feature has the correct dtype. 

To start, the **date and time** are just strings now. We could fix that when importing creating the dataframe, so let's do that now there's still the chance.

In [47]:
# reimport the data
df = pd.read_csv('data_100000.csv.xz', parse_dates=[[0,1]])
df.rename(columns={'crash_date_crash_time': "crash_datetime"}, inplace=True)  # simplify column name
df.head()

,crash_datetime,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,...,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2017-04-18 23:10:00,STATEN ISLAND,10312.0,40.536728,-74.193344,"(40.536728, -74.193344)",NaN,NaN,243 DARLINGTON AVENUE,0,...,Unspecified,NaN,NaN,NaN,3654181,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,2017-05-06 13:00:00,BRONX,10472.0,40.829052,-73.850380,"(40.829052, -73.85038)",CASTLE HILL AVENUE,BLACKROCK AVENUE,NaN,1,...,NaN,NaN,NaN,NaN,3665311,Sedan,NaN,NaN,NaN,NaN
2,2017-04-27 17:15:00,QUEENS,11420.0,40.677303,-73.804565,"(40.677303, -73.804565)",135 STREET,FOCH BOULEVARD,NaN,0,...,Unspecified,NaN,NaN,NaN,3658491,Sedan,Sedan,NaN,NaN,NaN
3,2017-05-09 20:10:00,NaN,NaN,40.624958,-74.145775,"(40.624958, -74.145775)",FOREST AVENUE,RICHMOND AVENUE,NaN,1,...,Unspecified,Unspecified,NaN,NaN,3666554,Motorcycle,Sedan,Bus,NaN,NaN
4,2017-04-18 14:00:00,BRONX,10456.0,40.828846,-73.903120,"(40.828846, -73.90312)",NaN,NaN,1167 BOSTON ROAD,0,...,Unspecified,NaN,NaN,NaN,3653269,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

Another very obvious thing is that the `zip_code` is interpreted as a float in stead of an int. [Apparently](https://pandas.pydata.org/pandas-docs/stable/user_guide/gotchas.html#support-for-integer-na) Numpy doesn't support nullable integers or something like that, so we have to use a special Pandas type `pd.Int##Dtype()` for this. Another option would be storing the zip codes as strings.

In [48]:
df["zip_code"]=df["zip_code"].astype(pd.UInt16Dtype())
df.head()

,crash_datetime,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,...,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2017-04-18 23:10:00,STATEN ISLAND,10312,40.536728,-74.193344,"(40.536728, -74.193344)",NaN,NaN,243 DARLINGTON AVENUE,0,...,Unspecified,NaN,NaN,NaN,3654181,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,2017-05-06 13:00:00,BRONX,10472,40.829052,-73.850380,"(40.829052, -73.85038)",CASTLE HILL AVENUE,BLACKROCK AVENUE,NaN,1,...,NaN,NaN,NaN,NaN,3665311,Sedan,NaN,NaN,NaN,NaN
2,2017-04-27 17:15:00,QUEENS,11420,40.677303,-73.804565,"(40.677303, -73.804565)",135 STREET,FOCH BOULEVARD,NaN,0,...,Unspecified,NaN,NaN,NaN,3658491,Sedan,Sedan,NaN,NaN,NaN
3,2017-05-09 20:10:00,NaN,<NA>,40.624958,-74.145775,"(40.624958, -74.145775)",FOREST AVENUE,RICHMOND AVENUE,NaN,1,...,Unspecified,Unspecified,NaN,NaN,3666554,Motorcycle,Sedan,Bus,NaN,NaN
4,2017-04-18 14:00:00,BRONX,10456,40.828846,-73.903120,"(40.828846, -73.90312)",NaN,NaN,1167 BOSTON ROAD,0,...,Unspecified,NaN,NaN,NaN,3653269,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

## Duplicates

`longitude` and `latitude` are also kept as object in `location`. Before dropping location, let us quickly check if they are always equal.

In [49]:
# create series with location strings
fake_location=df.apply(lambda x: f"({x['latitude']}, {x['longitude']})", axis=1)

# filter all rows where they are not equal
df[df['location']!=fake_location][["location", "latitude", "longitude"]]

      location  latitude  longitude
24         NaN       NaN        NaN
25         NaN       NaN        NaN
26         NaN       NaN        NaN
27         NaN       NaN        NaN
36         NaN       NaN        NaN
...        ...       ...        ...
99935      NaN       NaN        NaN
99944      NaN       NaN        NaN
99965      NaN       NaN        NaN
99982      NaN       NaN        NaN
99990      NaN       NaN        NaN

[8035 rows x 3 columns]

Only the NaN locations are not equal, so we can safely drop **location**.

In [40]:
df.drop(["location"], axis=1,inplace=True)
df.head()

,crash_datetime,borough,zip_code,latitude,longitude,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,number_of_persons_killed,...,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2017-04-18 23:10:00,STATEN ISLAND,10312,40.536728,-74.193344,NaN,NaN,243 DARLINGTON AVENUE,0,0,...,Unspecified,NaN,NaN,NaN,3654181,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN
1,2017-05-06 13:00:00,BRONX,10472,40.829052,-73.850380,CASTLE HILL AVENUE,BLACKROCK AVENUE,NaN,1,0,...,NaN,NaN,NaN,NaN,3665311,Sedan,NaN,NaN,NaN,NaN
2,2017-04-27 17:15:00,QUEENS,11420,40.677303,-73.804565,135 STREET,FOCH BOULEVARD,NaN,0,0,...,Unspecified,NaN,NaN,NaN,3658491,Sedan,Sedan,NaN,NaN,NaN
3,2017-05-09 20:10:00,NaN,<NA>,40.624958,-74.145775,FOREST AVENUE,RICHMOND AVENUE,NaN,1,0,...,Unspecified,Unspecified,NaN,NaN,3666554,Motorcycle,Sedan,Bus,NaN,NaN
4,2017-04-18 14:00:00,BRONX,10456,40.828846,-73.903120,NaN,NaN,1167 BOSTON ROAD,0,0,...,Unspecified,NaN,NaN,NaN,3653269,Sedan,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN

Now we look at the vehicle types – how many unique ones are there.

In [41]:
vehicle_types=pd.unique(df.loc[:,"vehicle_type_code1":"vehicle_type_code_5"].values.ravel())
vehicle_types, len(vehicle_types)

(array(['Station Wagon/Sport Utility Vehicle', nan, 'Sedan', 'Motorcycle',
        'Bus', 'Taxi', 'Box Truck', 'Pick-up Truck', 'PAS', 'Ambulance',
        'Tractor Truck Diesel', 'Bike', 'Garbage or Refuse', 'deliv',
        'unkno', '3-Door', 'Van', 'Dump', 'Convertible', 'tower',
        'Carry All', '4 dr sedan', 'Tanker', 'PK', 'School Bus', 'FOOD',
        'Flat Bed', 'Moped', 'uhaul', 'Motorscooter', 'TRAIL', 'e-350',
        'Armored Truck', 'PASSENGER VEHICLE', 'SMALL COM VEH(4 TIRES) ',
        'Tractor Truck Gasoline', 'RV', 'SPORT UTILITY / STATION WAGON',
        'FDNY', 'Chassis Cab', 'sedan', 'USPS', 'self', 'cemen',
        'Well Driller', 'Van Camper', 'Concrete Mixer', '2 dr sedan',
        'Tow Truck / Wrecker', 'Beverage Truck', 'Flat Rack', 'TRUCK',
        'TUCK', 'Motorbike', 'REFG', 'DELV', 'DUMP', 'van',
        'Bulk Agriculture', 'POSTA', 'Refrigerated Van', 'TRACT', 'PSD',
        'E-Bike', 'AMB', 'VAN', 'MACK', 'Lift Boom', 'TAXI', 'BOX T',
        'UNKNOWN', 'winne', 'AMBUL', 'p/sh', 'firet', 'COM', 'FDNY FIRET',
        'BOBCA', 'truck', 'FIRE', 'UNKNO', 'bus', 'unk', 'INTL', 'SCHOO',
        'tow t', 'WHITE', 'motor', 'Polic', 'P/SH', '4D', 'DELIV', 'box t',
        'E-Scooter', 'Mack', 'fire', 'UTIL', 'LADDER 34', 'moped', '4DS',
        'E-Sco', 'E-Bik', 'ambul', 'MTA b', 'Fire', 'crane', 'GOLF',
        'Stake or Rack', 'dump', 'Ambul', 'CONT', 'forkl', 'MAIL', 'LTR',
        'DIRTB', 'FORKL', 'MOVIN', 'Minibike', 'UNK', 'SCOOT', 'MOPED',
        'GARBA', 'Motorized Home', 'IP', 'Const', 'Lift', 'OTHER', 'Unkno',
        'Glass Rack', 'limo', 'Parce', 'PASS', 'US PO', 'Open Body',
        'E350', 'boom', 'Lunch Wagon', 'UT', 'City', 'Truck', 'yello',
        'van t', 'PICKU', 'vespa', 'Train', 'COMME', 'Hopper',
        'Pickup with mounted Camper', 'LIMO', 'PU', 'DETAC', 'Backh',
        'Trail', 'TRA/R', 'Forkl', 'Multi-Wheeled Vehicle', 'BoxTr',
        'BACKH', 'FIRET', 'TRANS', 'Minicycle', 'MTA B', 'CAT.', 'AMBU',
        'TOYOT', 'scoot', 'WINEB', 'STREE', 'POLIC', 'rep', 'E250',
        'HI TA', 'E SCO', 'E BIK', 'PICK UP', 'sprin', 'prks', 'PICK-',
        'BULLD', 'Tow Truck', 'FORD', 'Snow Plow', 'US Govt ve',
        'FIRE TRUCK', 'Subn', 'Pedicab', 'ART M', 'MINI', 'ASPHA', 'g spc',
        'WORK', 'SKATE', '35 FT', 'TRLR', 'Depar', 'excav', 'TOW T',
        'E Bik', 'BLACK', 'FORK', 'Tow T', 'tk', 'VAN T', 'LIVERY VEHICLE',
        'E-SCO', 'ALUMI', 'E-bik', 'NYS A', 'BS', 'Elect', 'ELECT',
        'Pallet', 'dp', 'TOWTR', 'CITY', 'tract', 'APPOR', 'JOHN', 'MOBIL',
        'Golf', 'Sprin', 'trlr', 'Wagon', 'POWER', 'Box t', 'Utili',
        'ambulance', 'back', 'CAT32', 'trail', 'Flat', 'DIRT', 'SELF-',
        'CAMPE', 'trl', 'E-BIK', 'bobca', 'TOWER', 'utili', 'JLG L', 'Unk',
        'RMP V', 'UTIL WH', 'TRK',
        'Enclosed Body - Nonremovable Enclosure', 'MOTOR', 'elect',
        'ENGIN', 'fdny', 'stree', 'usps', 'Vanette', 'UHAUL', 'LIMOU',
        'wagon', 'FED E', 'Mta', 'CHURC', 'Van (', 'hrse', 'Crane',
        'AMBULANCE', 'BUS', 'Scoot', 'MOTORCYCLE', 'Deliv',
        'PICK-UP TRUCK', 'BTM', 'Schoo', 'const', 'Delv', 'comm.', 'range',
        'BOX', 'TRAC', 'POST', 'Pick', 'HAND', 'fork', 'USPOS', 'ENCLO',
        'MINI VAN', 'U-HAUL', 'E-scooter', 'Fire Truck', 'STREET SWE',
        'BACKHOE LO', 'Pick up tr', 'Cargo Van', 'E-BIKE', 'SKATEBOARD',
        'Tractor tr', 'INTERNATIO', 'SMART CAR', 'SWT', 'Front-Load',
        'Courier', 'DRILL RIG', 'FDNY LADDE', 'FDNY AMBUL', 'SUV',
        'GARBAGE TR', 'MOPED SCOO', 'NYC FIRETR', 'BOX TRUCK',
        'Fire Engin', 'scooter', 'uknown', 'MOTOR SKAT', 'Scooter',
        'GEN  AMBUL', 'DELIVERY', 'DIRT BIKE', 'Moped elec', 'REVEL',
        'SCOOTER', 'John Deere', 'FLATBED FR', 'POWER SHOV', 'Flatbed',
        'DIRTBIKE', 'dilevery t', 'Work Van', 'F550', 'TRACTOR TR',
        'UNKNOWN VE', 'DELIVERY T', 'forlift', 'message si', 'box truck',
        'constructi', 'trailer', 'MTA Truck', 'ELECTRIC M', 'TRL',
        'sanitation', 'Dirt Bike', 'ELECTRIC S', 'FDNY TRUCK',
        'TRUCK FLAT', 'Lawnmower', 'cargo van', 'COURIER', 'FIRETRUCK',
        'FDNY Ambul', 'fdny ems', 'FIRTRUCK', 'utility', 'dark color',
        'COMMERCIAL', 'Postal tru', 'TRUCK VAN', 'Tilt tande', 'I1', 'OTH',
        'Unknown', 'Pickup', 'Pumper', 'Dump Truck', 'E-SCOOTER',
        'LAWN MOWER', 'Fire truck', 'Can', 'FIRE ENGIN', 'FDNY firet',
        'E-UNICYCLE', 'FLATBED TR', 'GATOR', 'Golf Cart', 'Skateboard',
        'TRACTOR', 'FORKLIFT', 'ford van', 'TRAILER', 'E SCOOTER',
        'electric s', 'AMBULACE', 'UTILITY', 'Sweeper', 'Trac', 'Fleet',
        'transport', 'LEFT THE S', 'motor scoo', 'Leased amb', 'C1', 'PC',
        '4dsd', 'Cement Tru', 'street cle', 'e-bike', 'USPS/GOVT',
        'PICKUP', 'MAILTRUCK', 'dump truck', 'TRUCK TRAI', 'FLAT',
        'boom lift', 'almbulance', 'box', 'Fork Lift', 'ESCOOTER',
        'FOLK LIFT', 'FDNY fire', 'government', 'Moped Scoo', 'Forklift',
        'uhaul truc', 'NYC ACS Va', 'mopd', 'UTILITY VE', 'SANITATION',
        'BOB CAT', 'Fork lift', 'VEHICLE 2', 'UKN', 'FDNY FIRE',
        'GOLF CART', 'UNKN', 'UPS TRUCK', 'Trailer', 'forklift',
        'push scoot', 'Livestock Rack', 'LIGHT TRAI', 'E REVEL SC', 'J1',
        'FLAT BED', 'Go kart', 'UTILITY TR', 'FDNY ENGIN', 'motorcycle',
        'Razor scoo', '1C', 'gator', 'FREIGHT FL', 'Tractor Tr',
        'ESCOVATOR', 'JOHN DEERE', 'golf cart', 'backhoe', 'trailor',
        'MAIL TRUCK', 'AMBULENCE', 'FDNY #226', 'CARGO VAN', 'COMMERICAL',
        'Firetruck', 'FREIGHTLIN', 'suburban', 'PALFINGER', 'Wh Ford co',
        'FDNY EMS', 'SPECIAL PU', 'Delivery t', 'FDNY Truck', 'fire truck',
        'commercial', 'MOTORSCOOT', 'CAT', 'ICE CREAM', 'FOOD TRUCK',
        'MTA BUS', 'FD LADDER', 'Sanitation', 'Tractor', 'HAUL FOR H',
        'EMS TRUCK', 'Tree cutte', 'SLINGSHOT', 'ambu', 'E-SKATEBOA',
        'ROAD SWEEP', 'CHEVY EXPR', 'USPS POSTA', 'abulance', 'MOVING VAN',
        'VAN/TRANSI', 'FDNY Fire', 'RAM', 'Gas Scoote', 'Horse', 'Toyota',
        'DELIVERY V', 'unknown', 'Pick up Tr', 'USPS TRUCK', 'FDNY Engin',
        'FRIEGHTLIN', 'BOBCAT FOR', '18 WHEELER', 'NYC BUS', 'Bucket Tru',
        'cross', 'Dump truck', 'MOBILE', 'USPS VAN', 'GLP050VXEV',
        'Pick Truck', 'Electric s', 'FLATBED', 'ELEC. UNIC', 'DOT EQUIPM',
        'Freight', 'RDS', 'Work van', 'postal tru', 'FRT', 'FREIG DELV',
        'SWEEPER', 'E-Scoter', 'CHEVROLET', 'UHAUL Trai', 'Pick up',
        'E-bike', 'mailtruck', 'camper tra', 'PICK-UP TR', 'NYC FD',
        'Utility.', 'firetruck', 'Box truck', 'ACCESS A R', 'Box', 'BUs',
        'FD TRUCK', 'White ambu', 'FREIGHT TR', 'NYC AMBULA', 'Fdny ambul',
        'MECHANICAL', 'F150XL PIC', 'Trc', 'tow truck', 'Commercial',
        'f-250', 'POSTAL TRU', 'PICK UP TR', 'LCOMM', 'LCOM', 'FORK LIFT',
        'UNATTACHED', 'SKID LOADE', 'TOW TRUCK', 'FUSION', 'FDNY truck',
        'itas', 'Dirt bike', 'pc', 'JETSKI', 'UHAUL BOX', 'com',
        'BOX Truck', '0', 'Cargo Truc', 'SUBN WHI', 'CRANE', 'TL',
        'e skate bo', 'EMS', 'postal bus', 'DUMP TRUCK', 'CONCRETE M',
        'Enclosed Body - Removable Enclosure', 'HEARSE', 'MOTOR SCOO',
        'E bike', 'T630 Forkl', 'Ford sprin', 'Light trai', 'BACK HOE',
        'HRSE', 'FREIG', 'LMA', 'AMAZON SPR', 'Flat bed', 'WORK VAN',
        '18 WEELER', 'GLNEN', 'Tow truck', 'SELF', 'util', 'Tow t', 'E450',
        'Amb', 'E-SKA', 'UTILI', 'SCHOOLBUS', 'HORSE', 'spec-',
        'LADDER TRU', 'EBIKE', 'PAYLO'], dtype=object),
 593)

This is way to extensive. There are a lot of typos, and many different ways to describe the same vehicle types. Cleaning this automatically is very hard, and also depending on the specific dataset – more data wil probably introduce even more new types. So we have to decide what we will specifically need, before wasting a lot of time in cleaning this. Do we even need the very speciofic vehicle types? 

For now, I will do a simple, inexhaustive categorization per vehicle size: _two-wheel_, _normal_ (car-size) and _large_ (trucks, busses…). Let's implement a filtering function that we can later map on the complete dataset. The catagorization happens by looking into a predefined set of type strings. If no similarity is found, the function returns `"unknown"`. 

Of course, the quality depends very much on the predefined search terms. Most likely, more vehicles than necessary will be categorized under "unknown". This is a consideration that should certainly be taken into account in subsequent steps.

In [61]:
def filter_vehicle(veh) -> str:
    """Simple function to categorize vehicle types 

    :param veh: [description]
    """

    # passthrought NaNs
    if type(veh) != str:
        return veh

    veh = veh.lower()  # lowercase
    # remove spaces and common characters to decrease ambiguity
    veh = veh.replace(" ", "").replace("-", "").replace("/", "")
    # categories
    groups = {
        "large": [
            "truck",
            "uhaul",
            "freight",
            "pickup",
            "bus",
            "ambulance",
            "van",
            "tractor",
            "fire",
            "camper",
        ],
        "normal": ["car", "passenger", "pas", "sedan", "taxi"],
        "two-wheel": ["bicycle", "bike", "motorcycle", "scooter", "vespa"],
    }
    for cat in groups:
        if veh == cat:
            # passthrough if already category
            return veh
        for name in groups[cat]:
            if name in veh:
                return cat
    return "unknown"

We try it on the `vehicle_types`.

In [62]:
for t in vehicle_types:
    print(f"{t} → {filter_vehicle(t)}")

Station Wagon/Sport Utility Vehicle → unknown
nan → nan
Sedan → normal
Motorcycle → two-wheel
Bus → large
Taxi → normal
Box Truck → large
Pick-up Truck → large
PAS → normal
Ambulance → large
Tractor Truck Diesel → large
Bike → two-wheel
Garbage or Refuse → unknown
deliv → unknown
unkno → unknown
3-Door → unknown
Van → large
Dump → unknown
Convertible → unknown
tower → unknown
Carry All → normal
4 dr sedan → normal
Tanker → unknown
PK → unknown
School Bus → large
FOOD → unknown
Flat Bed → unknown
Moped → unknown
uhaul → large
Motorscooter → two-wheel
TRAIL → unknown
e-350 → unknown
Armored Truck → large
PASSENGER VEHICLE → normal
SMALL COM VEH(4 TIRES)  → unknown
Tractor Truck Gasoline → large
RV → unknown
SPORT UTILITY / STATION WAGON → unknown
FDNY → unknown
Chassis Cab → unknown
sedan → normal
USPS → unknown
self → unknown
cemen → unknown
Well Driller → unknown
Van Camper → large
Concrete Mixer → unknown
2 dr sedan → normal
Tow Truck / Wrecker → large
Beverage Truck → large
Flat Rack → unknown
TRUCK → large
TUCK → unknown
Motorbike → two-wheel
REFG → unknown
DELV → unknown
DUMP → unknown
van → large
Bulk Agriculture → unknown
POSTA → unknown
Refrigerated Van → large
TRACT → unknown
PSD → unknown
E-Bike → two-wheel
AMB → unknown
VAN → large
MACK → unknown
Lift Boom → unknown
TAXI → normal
BOX T → unknown
UNKNOWN → unknown
winne → unknown
AMBUL → unknown
p/sh → unknown
firet → large
COM → unknown
FDNY FIRET → large
BOBCA → unknown
truck → large
FIRE → large
UNKNO → unknown
bus → large
unk → unknown
INTL → unknown
SCHOO → unknown
tow t → unknown
WHITE → unknown
motor → unknown
Polic → unknown
P/SH → unknown
4D → unknown
DELIV → unknown
box t → unknown
E-Scooter → two-wheel
Mack → unknown
fire → large
UTIL → unknown
LADDER 34 → unknown
moped → unknown
4DS → unknown
E-Sco → unknown
E-Bik → unknown
ambul → unknown
MTA b → unknown
Fire → large
crane → unknown
GOLF → unknown
Stake or Rack → unknown
dump → unknown
Ambul → unknown
CONT → unknown
forkl → unknown
MAIL → unknown
LTR → unknown
DIRTB → unknown
FORKL → unknown
MOVIN → unknown
Minibike → two-wheel
UNK → unknown
SCOOT → unknown
MOPED → unknown
GARBA → unknown
Motorized Home → unknown
IP → unknown
Const → unknown
Lift → unknown
OTHER → unknown
Unkno → unknown
Glass Rack → unknown
limo → unknown
Parce → unknown
PASS → normal
US PO → unknown
Open Body → unknown
E350 → unknown
boom → unknown
Lunch Wagon → unknown
UT → unknown
City → unknown
Truck → large
yello → unknown
van t → large
PICKU → unknown
vespa → two-wheel
Train → unknown
COMME → unknown
Hopper → unknown
Pickup with mounted Camper → large
LIMO → unknown
PU → unknown
DETAC → unknown
Backh → unknown
Trail → unknown
TRA/R → unknown
Forkl → unknown
Multi-Wheeled Vehicle → unknown
BoxTr → unknown
BACKH → unknown
FIRET → large
TRANS → unknown
Minicycle → unknown
MTA B → unknown
CAT. → unknown
AMBU → unknown
TOYOT → unknown
scoot → unknown
WINEB → unknown
STREE → unknown
POLIC → unknown
rep → unknown
E250 → unknown
HI TA → unknown
E SCO → unknown
E BIK → unknown
PICK UP → large
sprin → unknown
prks → unknown
PICK- → unknown
BULLD → unknown
Tow Truck → large
FORD → unknown
Snow Plow → unknown
US Govt ve → unknown
FIRE TRUCK → large
Subn → unknown
Pedicab → unknown
ART M → unknown
MINI → unknown
ASPHA → unknown
g spc → unknown
WORK → unknown
SKATE → unknown
35 FT → unknown
TRLR → unknown
Depar → unknown
excav → unknown
TOW T → unknown
E Bik → unknown
BLACK → unknown
FORK → unknown
Tow T → unknown
tk → unknown
VAN T → large
LIVERY VEHICLE → unknown
E-SCO → unknown
ALUMI → unknown
E-bik → unknown
NYS A → unknown
BS → unknown
Elect → unknown
ELECT → unknown
Pallet → unknown
dp → unknown
TOWTR → unknown
CITY → unknown
tract → unknown
APPOR → unknown
JOHN → unknown
MOBIL → unknown
Golf → unknown
Sprin → unknown
trlr → unknown
Wagon → unknown
POWER → unknown
Box t → unknown
Utili → unknown
ambulance → large
back → unknown
CAT32 → unknown
trail → unknown
Flat → unknown
DIRT → unknown
SELF- → unknown
CAMPE → unknown
trl → unknown
E-BIK → unknown
bobca → unknown
TOWER → unknown
utili → unknown
JLG L → unknown
Unk → unknown
RMP V → unknown
UTIL WH → unknown
TRK → unknown
Enclosed Body - Nonremovable Enclosure → unknown
MOTOR → unknown
elect → unknown
ENGIN → unknown
fdny → unknown
stree → unknown
usps → unknown
Vanette → large
UHAUL → large
LIMOU → unknown
wagon → unknown
FED E → unknown
Mta → unknown
CHURC → unknown
Van ( → large
hrse → unknown
Crane → unknown
AMBULANCE → large
BUS → large
Scoot → unknown
MOTORCYCLE → two-wheel
Deliv → unknown
PICK-UP TRUCK → large
BTM → unknown
Schoo → unknown
const → unknown
Delv → unknown
comm. → unknown
range → unknown
BOX → unknown
TRAC → unknown
POST → unknown
Pick → unknown
HAND → unknown
fork → unknown
USPOS → unknown
ENCLO → unknown
MINI VAN → large
U-HAUL → large
E-scooter → two-wheel
Fire Truck → large
STREET SWE → unknown
BACKHOE LO → unknown
Pick up tr → large
Cargo Van → large
E-BIKE → two-wheel
SKATEBOARD → unknown
Tractor tr → large
INTERNATIO → unknown
SMART CAR → normal
SWT → unknown
Front-Load → unknown
Courier → unknown
DRILL RIG → unknown
FDNY LADDE → unknown
FDNY AMBUL → unknown
SUV → unknown
GARBAGE TR → unknown
MOPED SCOO → unknown
NYC FIRETR → large
BOX TRUCK → large
Fire Engin → large
scooter → two-wheel
uknown → unknown
MOTOR SKAT → unknown
Scooter → two-wheel
GEN  AMBUL → unknown
DELIVERY → unknown
DIRT BIKE → two-wheel
Moped elec → unknown
REVEL → unknown
SCOOTER → two-wheel
John Deere → unknown
FLATBED FR → unknown
POWER SHOV → unknown
Flatbed → unknown
DIRTBIKE → two-wheel
dilevery t → unknown
Work Van → large
F550 → unknown
TRACTOR TR → large
UNKNOWN VE → unknown
DELIVERY T → unknown
forlift → unknown
message si → unknown
box truck → large
constructi → unknown
trailer → unknown
MTA Truck → large
ELECTRIC M → unknown
TRL → unknown
sanitation → unknown
Dirt Bike → two-wheel
ELECTRIC S → unknown
FDNY TRUCK → large
TRUCK FLAT → large
Lawnmower → unknown
cargo van → large
COURIER → unknown
FIRETRUCK → large
FDNY Ambul → unknown
fdny ems → unknown
FIRTRUCK → large
utility → unknown
dark color → unknown
COMMERCIAL → unknown
Postal tru → unknown
TRUCK VAN → large
Tilt tande → unknown
I1 → unknown
OTH → unknown
Unknown → unknown
Pickup → large
Pumper → unknown
Dump Truck → large
E-SCOOTER → two-wheel
LAWN MOWER → unknown
Fire truck → large
Can → unknown
FIRE ENGIN → large
FDNY firet → large
E-UNICYCLE → unknown
FLATBED TR → unknown
GATOR → unknown
Golf Cart → normal
Skateboard → unknown
TRACTOR → large
FORKLIFT → unknown
ford van → large
TRAILER → unknown
E SCOOTER → two-wheel
electric s → unknown
AMBULACE → unknown
UTILITY → unknown
Sweeper → unknown
Trac → unknown
Fleet → unknown
transport → unknown
LEFT THE S → unknown
motor scoo → unknown
Leased amb → unknown
C1 → unknown
PC → unknown
4dsd → unknown
Cement Tru → unknown
street cle → unknown
e-bike → two-wheel
USPS/GOVT → unknown
PICKUP → large
MAILTRUCK → large
dump truck → large
TRUCK TRAI → large
FLAT → unknown
boom lift → unknown
almbulance → unknown
box → unknown
Fork Lift → unknown
ESCOOTER → two-wheel
FOLK LIFT → unknown
FDNY fire → large
government → unknown
Moped Scoo → unknown
Forklift → unknown
uhaul truc → large
NYC ACS Va → unknown
mopd → unknown
UTILITY VE → unknown
SANITATION → unknown
BOB CAT → unknown
Fork lift → unknown
VEHICLE 2 → unknown
UKN → unknown
FDNY FIRE → large
GOLF CART → normal
UNKN → unknown
UPS TRUCK → large
Trailer → unknown
forklift → unknown
push scoot → unknown
Livestock Rack → unknown
LIGHT TRAI → unknown
E REVEL SC → unknown
J1 → unknown
FLAT BED → unknown
Go kart → unknown
UTILITY TR → unknown
FDNY ENGIN → unknown
motorcycle → two-wheel
Razor scoo → unknown
1C → unknown
gator → unknown
FREIGHT FL → large
Tractor Tr → large
ESCOVATOR → unknown
JOHN DEERE → unknown
golf cart → normal
backhoe → unknown
trailor → unknown
MAIL TRUCK → large
AMBULENCE → unknown
FDNY #226 → unknown
CARGO VAN → large
COMMERICAL → unknown
Firetruck → large
FREIGHTLIN → large
suburban → unknown
PALFINGER → unknown
Wh Ford co → unknown
FDNY EMS → unknown
SPECIAL PU → unknown
Delivery t → unknown
FDNY Truck → large
fire truck → large
commercial → unknown
MOTORSCOOT → unknown
CAT → unknown
ICE CREAM → unknown
FOOD TRUCK → large
MTA BUS → large
FD LADDER → unknown
Sanitation → unknown
Tractor → large
HAUL FOR H → unknown
EMS TRUCK → large
Tree cutte → unknown
SLINGSHOT → unknown
ambu → unknown
E-SKATEBOA → unknown
ROAD SWEEP → unknown
CHEVY EXPR → unknown
USPS POSTA → unknown
abulance → unknown
MOVING VAN → large
VAN/TRANSI → large
FDNY Fire → large
RAM → unknown
Gas Scoote → unknown
Horse → unknown
Toyota → unknown
DELIVERY V → unknown
unknown → unknown
Pick up Tr → large
USPS TRUCK → large
FDNY Engin → unknown
FRIEGHTLIN → unknown
BOBCAT FOR → unknown
18 WHEELER → unknown
NYC BUS → large
Bucket Tru → unknown
cross → unknown
Dump truck → large
MOBILE → unknown
USPS VAN → large
GLP050VXEV → unknown
Pick Truck → large
Electric s → unknown
FLATBED → unknown
ELEC. UNIC → unknown
DOT EQUIPM → unknown
Freight → large
RDS → unknown
Work van → large
postal tru → unknown
FRT → unknown
FREIG DELV → unknown
SWEEPER → unknown
E-Scoter → unknown
CHEVROLET → unknown
UHAUL Trai → large
Pick up → large
E-bike → two-wheel
mailtruck → large
camper tra → large
PICK-UP TR → large
NYC FD → unknown
Utility. → unknown
firetruck → large
Box truck → large
ACCESS A R → unknown
Box → unknown
BUs → large
FD TRUCK → large
White ambu → unknown
FREIGHT TR → large
NYC AMBULA → unknown
Fdny ambul → unknown
MECHANICAL → unknown
F150XL PIC → unknown
Trc → unknown
tow truck → large
Commercial → unknown
f-250 → unknown
POSTAL TRU → unknown
PICK UP TR → large
LCOMM → unknown
LCOM → unknown
FORK LIFT → unknown
UNATTACHED → unknown
SKID LOADE → unknown
TOW TRUCK → large
FUSION → unknown
FDNY truck → large
itas → unknown
Dirt bike → two-wheel
pc → unknown
JETSKI → unknown
UHAUL BOX → large
com → unknown
BOX Truck → large
0 → unknown
Cargo Truc → normal
SUBN WHI → unknown
CRANE → unknown
TL → unknown
e skate bo → unknown
EMS → unknown
postal bus → large
DUMP TRUCK → large
CONCRETE M → unknown
Enclosed Body - Removable Enclosure → unknown
HEARSE → unknown
MOTOR SCOO → unknown
E bike → two-wheel
T630 Forkl → unknown
Ford sprin → unknown
Light trai → unknown
BACK HOE → unknown
HRSE → unknown
FREIG → unknown
LMA → unknown
AMAZON SPR → unknown
Flat bed → unknown
WORK VAN → large
18 WEELER → unknown
GLNEN → unknown
Tow truck → large
SELF → unknown
util → unknown
Tow t → unknown
E450 → unknown
Amb → unknown
E-SKA → unknown
UTILI → unknown
SCHOOLBUS → large
HORSE → unknown
spec- → unknown
LADDER TRU → unknown
EBIKE → two-wheel
PAYLO → unknown

Now we map this on all vehicles.

In [63]:
df.loc[:,"vehicle_type_code1":"vehicle_type_code_5"]=df.loc[:,"vehicle_type_code1":"vehicle_type_code_5"].applymap(filter_vehicle)
df.head()

,crash_datetime,borough,zip_code,latitude,longitude,location,on_street_name,off_street_name,cross_street_name,number_of_persons_injured,...,contributing_factor_vehicle_2,contributing_factor_vehicle_3,contributing_factor_vehicle_4,contributing_factor_vehicle_5,collision_id,vehicle_type_code1,vehicle_type_code2,vehicle_type_code_3,vehicle_type_code_4,vehicle_type_code_5
0,2017-04-18 23:10:00,STATEN ISLAND,10312,40.536728,-74.193344,"(40.536728, -74.193344)",NaN,NaN,243 DARLINGTON AVENUE,0,...,Unspecified,NaN,NaN,NaN,3654181,unknown,NaN,NaN,NaN,NaN
1,2017-05-06 13:00:00,BRONX,10472,40.829052,-73.850380,"(40.829052, -73.85038)",CASTLE HILL AVENUE,BLACKROCK AVENUE,NaN,1,...,NaN,NaN,NaN,NaN,3665311,normal,NaN,NaN,NaN,NaN
2,2017-04-27 17:15:00,QUEENS,11420,40.677303,-73.804565,"(40.677303, -73.804565)",135 STREET,FOCH BOULEVARD,NaN,0,...,Unspecified,NaN,NaN,NaN,3658491,normal,normal,NaN,NaN,NaN
3,2017-05-09 20:10:00,NaN,<NA>,40.624958,-74.145775,"(40.624958, -74.145775)",FOREST AVENUE,RICHMOND AVENUE,NaN,1,...,Unspecified,Unspecified,NaN,NaN,3666554,unknown,normal,large,NaN,NaN
4,2017-04-18 14:00:00,BRONX,10456,40.828846,-73.903120,"(40.828846, -73.90312)",NaN,NaN,1167 BOSTON ROAD,0,...,Unspecified,NaN,NaN,NaN,3653269,normal,unknown,NaN,NaN,NaN