# Second exercise: New York Trees

This is a very similar exercise as Crashes. I will do this with less elaboration on my steps.

In [1]:
import pandas as pd

Import the dataset.

In [4]:
df=pd.read_csv("trees_1000.csv", parse_dates=[0])
df.head()

,created_at,tree_id,block_id,the_geom,tree_dbh,stump_diam,curb_loc,status,health,spc_latin,...,st_assem,st_senate,nta,nta_name,boro_ct,state,latitude,longitude,x_sp,y_sp
0,2015-08-27,180683,348711,POINT (-73.84421521958048 40.723091773924274),3,0,OnCurb,Alive,Fair,Acer rubrum,...,28,16,QN17,Forest Hills,4073900,New York,40.723092,-73.844215,1.027431e+06,202756.768749
1,2015-09-03,200540,315986,POINT (-73.81867945834878 40.79411066708779),21,0,OnCurb,Alive,Fair,Quercus palustris,...,27,11,QN49,Whitestone,4097300,New York,40.794111,-73.818679,1.034456e+06,228644.837379
2,2015-09-05,204026,218365,POINT (-73.93660770459083 40.717580740099116),3,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,50,18,BK90,East Williamsburg,3044900,New York,40.717581,-73.936608,1.001823e+06,200716.891267
3,2015-09-05,204337,217969,POINT (-73.93445615919741 40.713537494833226),10,0,OnCurb,Alive,Good,Gleditsia triacanthos var. inermis,...,53,18,BK90,East Williamsburg,3044900,New York,40.713537,-73.934456,1.002420e+06,199244.253136
4,2015-08-30,189565,223043,POINT (-73.97597938483258 40.66677775537875),21,0,OnCurb,Alive,Good,Tilia americana,...,44,21,BK37,Park Slope-Gowanus,3016500,New York,40.666778,-73.975979,9.909138e+05,182202.425999

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 42 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   created_at  999 non-null    datetime64[ns]
 1   tree_id     999 non-null    int64
 2   block_id    999 non-null    int64
 3   the_geom    999 non-null    object
 4   tree_dbh    999 non-null    int64
 5   stump_diam  999 non-null    int64
 6   curb_loc    999 non-null    object
 7   status      999 non-null    object
 8   health      983 non-null    object
 9   spc_latin   983 non-null    object
 10  spc_common  983 non-null    object
 11  steward     983 non-null    object
 12  guards      983 non-null    object
 13  sidewalk    983 non-null    object
 14  user_type   999 non-null    object
 15  problems    983 non-null    object
 16  root_stone  999 non-null    object
 17  root_grate  999 non-null    object
 18  root_other  999 non-null    object
 19  trnk_wire   999 non-null    object
 20  trnk_light  999 non-null    object
 21  trnk_other  999 non-null    object
 22  brnch_ligh  999 non-null    object
 23  brnch_shoe  999 non-null    object
 24  brnch_othe  999 non-null    object
 25  address     999 non-null    object
 26  zipcode     999 non-null    int64
 27  zip_city    999 non-null    object
 28  cb_num      999 non-null    int64
 29  borocode    999 non-null    int64
 30  boroname    999 non-null    object
 31  cncldist    999 non-null    int64
 32  st_assem    999 non-null    int64
 33  st_senate   999 non-null    int64
 34  nta         999 non-null    object
 35  nta_name    999 non-null    object
 36  boro_ct     999 non-null    int64
 37  state       999 non-null    object
 38  latitude    999 non-null    float64
 39  longitude   999 non-null    float64
 40  x_sp        999 non-null    float64
 41  y_sp        999 non-null    float64
dtypes: datetime64[ns](1), float64(4), int64(11), object(26)
memory usage: 327.9+ KB